<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
  
  
            <form action="/client/profilePage" method="GET">
              
              <button type="submit" class="btn btn m-lg-1">
                Books Owned
              </button>
            </form>
  
  
          </li>
          <li class="nav-item">
            <form action="/client/userIssue" method="GET">
              
              <button type="submit" class="btn btn m-lg-1">
                Issue Requests
              </button>
            </form>
          </li>
  
          <li class="nav-item">
  
            <form action="/client/userReturn" method="GET">
              
              <button type="submit" class="btn btn m-lg-1">
                Return Requests
              </button>
            </form>
  
          </li>
  
          <li class="nav-item">
  
            <form action="/client/userBrowse" method="GET">
              
              <button type="submit" class="btn btn m-lg-1">
                Browse Books
              </button>
            </form>
  
          </li>
          <li class="nav-item">
  
            <form action="/userLogout" method="POST">
              
              <button type="submit" class="btn btn m-lg-1">
                Logout
              </button>
            </form>
  
          </li>
  
        </ul>
  
      </div>
    </div>
  </nav>